 <div class="container screen">
 <h2> Rate : </h2>
 <a ><span class="fa fa-star fa-3x" (click)="rev.rate=1" [ngClass]="{'yel': rev.rate >= 1}"></span></a>
    <a ><span class="fa fa-star fa-3x" (click)="rev.rate=2"  [ngClass]="{'yel':  rev.rate >= 2}" ></span></a>
    <a ><span class="fa fa-star fa-3x " (click)="rev.rate=3" [ngClass]="{'yel': rev.rate >= 3}"></span></a>
    <a ><span class="fa fa-star fa-3x "   (click)="rev.rate=4" [ngClass]="{'yel': rev.rate >= 4}"></span></a>
    <a ><span class="fa fa-star fa-3x "  (click)="rev.rate=5"  [ngClass]="{'yel': rev.rate >= 5 }"></span></a>
<br>
<textarea  required id="desciption" rows=3 class="form-control" placeholder="my event..." name = "description" [(ngModel)]="rev.comment"></textarea>
<br>
<button class="btn btn-primary" (click)="rate()"> submit rate</button>
</div>