 <div class="container screen">
 <h2> Rate : </h2>
<a ><span class="fa fa-star fa-3x" (click)="selected[0]=true;selected[1]=false;selected[2]=false;selected[3]=false;selected[4]=false;" [ngClass]="{'yel': selected[0] === true || selected[1] === true || selected[2] === true || selected[3] === true || selected[4] === true}"></span></a>
<a ><span class="fa fa-star fa-3x" (click)="selected[1]=true ;selected[2]=false;selected[3]=false;selected[4]=false;"  [ngClass]="{'yel':  selected[1] === true || selected[2] === true || selected[3] === true || selected[4] === true}" ></span></a>
<a ><span class="fa fa-star fa-3x " (click)="selected[2]=true;selected[3]=false;selected[4]=false;" [ngClass]="{'yel': selected[2] === true || selected[3] === true || selected[4] === true}"></span></a>
<a ><span class="fa fa-star fa-3x "   (click)="selected[3]=true;selected[4]=false;" [ngClass]="{'yel': selected[3] === true || selected[4] === true}"></span></a>
<a ><span class="fa fa-star fa-3x "  (click)="selected[4]=true"  [ngClass]="{'yel': selected[4] === true }"></span></a>
<br>
<textarea  required id="desciption" rows=3 class="form-control" placeholder="my event..." name = "description" [(ngModel)]="rev.comment"></textarea>
<br>
<button class="btn btn-primary" (click)="rate()"> submit rate</button>
</div>
{{rev|json}}
{{rev2|json}}