<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Photofia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" [routerLink]="['/profile/'+this.at.currentUser.email]">profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" [routerLink]="['/events']">events</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/cities']">places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/gifts']">Gifts</a>
              </li>
        <li class="nav-item dropdown ">
          <a (click)="getNotification()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notification
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let notification1 of noti1" class="dropdown-item"  style="background-color:beige">
              {{notification1.username}} applies to your event <button (click)="respondEvent(notification1.id,notification1.userEmail,1)"> yes </button> <button (click)="respondEvent(notification1.id,notification1.userEmail,0)">no</button>
            </a>
            <a *ngFor="let notification2 of noti2" class="dropdown-item" href="#" style="background-color:cyan">
                {{notification2.username}}
              </a>
            <a *ngFor="let notification3 of noti3" class="dropdown-item" href="#" style="background-color:red">
                {{notification3.username}}
              </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="signout()" href="#" [routerLink]="['/sign']">sign out</a>
        </li>
      </ul>
    </div>
  </nav>
<div *ngIf="view === 1"class="container">
    <button type="button" class="btn btn-warning offset-md-10"(click)="switchView()">create event</button>
  <div *ngFor="let _event of ev " class="card col-md-10" style="margin-top:20px;" >
    <div class="card-body">
      <h5 class="card-title"> {{_event.name}} </h5>
      <h6 class="card-subtitle mb-2 text-muted"> {{_event.date}} </h6>
      <h6 class="card-subtitle mb-2 text-muted"> {{_event.location}} </h6>
      <p class="card-text"> {{_event.description}} </p>
      <a href="#" class="card-link" *ngIf="priv === 1" (click)="apply(_event.id)">Apply </a>
    </div>
  </div>
</div>
<div *ngIf="view === 2" class="container">
    <button type="button" class="btn btn-warning offset-md-10"(click)="switchView()">back </button>
    <app-create-event></app-create-event>
</div>