<div  class="card col-md-10" style="margin-top:20px;" >
    <div class="card-body">
      <h5 class="card-title"> {{selectedPlace.placeName}} </h5>
      <h6 class="card-subtitle mb-2 text-muted"> {{selectedPlace.rate}} </h6>
      <p class="card-text"> {{selectedPlace.description}} </p>
      <button href="#" class="card-link" > Rate </button>
    </div>
  </div>


  <div class="container">
      <div class="row">
        <div *ngFor="let img of images" class="card col-md-3 " style="padding:0px; margin-left: 10px;">
            <img class="card-img-top " [src]= " base+ img.path+'jpg'" (click)="openModal(template)" style="cursor: pointer;"alt="Card image cap">
            <a [routerLink]="['/profile/'+img.photographerEmail]">{{img.photographerEmail}}</a>
            <p> {{img.date}}</p>
            <p> {{img.imageLocation}}</p>
            <div class="card-body">
              <h5 class="card-title">{{img.type}}</h5>
              <p class="card-text">{{img.description}}</p>
              <p class="car-text">{{img.rate}}</p>
            </div>
          </div>
        </div>
    </div>

